aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
atproto==0.0.55
attrs==23.2.0
azure-core==1.29.6
azure-core-tracing-opentelemetry==1.0.0b11
azure-cosmos==4.5.1
azure-monitor-opentelemetry==1.6.4
azure-monitor-opentelemetry-exporter==1.0.0b32
azure-storage-blob==12.19.0
beautifulsoup4==4.12.3
blinker==1.7.0
cachelib==0.10.2
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.3
Deprecated==1.2.15
distro==1.9.0
dnspython==2.7.0
fixedint==0.1.6
Flask==3.0.0
Flask-Session==0.5.0
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
hubspot-api-client==8.2.0
identity==0.3.2
idna==3.10
importlib_metadata==8.5.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.4
jsonschema==4.21.1
jsonschema-path==0.3.2
jsonschema-spec==0.2.4
jsonschema-specifications==2023.7.1
langcodes==3.5.0
language_data==1.3.0
lazy-object-proxy==1.10.0
libipld==3.0.0
marisa-trie==1.2.1
MarkupSafe==2.1.3
more-itertools==10.2.0
motor==3.3.2
msal==1.26.0
msrest==0.7.1
multidict==6.0.5
numpy==1.26.3
oauthlib==3.2.2
openai==1.11.0
openapi-core==0.18.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opentelemetry-api==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-dbapi==0.49b2
opentelemetry-instrumentation-django==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-instrumentation-flask==0.49b2
opentelemetry-instrumentation-psycopg2==0.49b2
opentelemetry-instrumentation-requests==0.49b2
opentelemetry-instrumentation-urllib==0.49b2
opentelemetry-instrumentation-urllib3==0.49b2
opentelemetry-instrumentation-wsgi==0.49b2
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
packaging==23.2
pandas==2.1.4
parse==1.20.1
pathable==0.4.3
pillow==11.0.0
prance==23.6.21.0
propcache==0.2.0
psutil==5.9.8
pybirdbuddy==0.0.18
pycparser==2.21
pydantic==2.10.2
pydantic_core==2.27.1
PyJWT==2.8.0
pymongo==4.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-graphql-client==0.4.3
python-http-client==3.3.7
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
regex==2023.12.25
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rpds-py==0.17.1
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
semantic-kernel==0.5.0.dev0
sendgrid==6.11.0
setuptools==75.6.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starkbank-ecdsa==2.2.0
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2023.4
urllib3==2.2.3
websockets==13.1
Werkzeug==3.1.3
wrapt==1.17.0
yarl==1.17.2
zipp==3.21.0
