{% extends "base.html" %}

{% block title %}Post Queue{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Post Queue</h1>

    <a href="{{ url_for('smp.create_post') }}" class="btn btn-primary mb-3">Create post</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Text</th>
                <th>Post After</th>
                <th>Image URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in queue %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.service }}</td>
                <td>{{ record.text }}</td>
                <td>
                    {{ record.after_utc | tzfilter("America/Chicago") }}
                </td>
                <td>
                    {% if record.image_urls[0] %}
                        <img src="{{ record.image_urls[0] }}" class="img-thumbnail" style="max-width: 100px;">
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('smp.post_details', post_id=record.id) }}" class="btn btn-primary">Edit</a>
                    <form method="POST" action="{{ url_for('smp.delete_post', post_id=record.id) }}" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form method="POST" action="{{ url_for('smp.publish_post', post_id=record.id) }}" style="display:inline;">
                        <button type="submit" class="btn btn-warning">Publish</button>
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
